.my-input {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}
.my-input label {
  width: 10rem;
  text-align: right;
  color: #555;
  font-weight: 300;
}
.my-input input {
  margin-left: .5rem;
  border: 1px #000 solid;
  padding: .3rem;
  font-weight: 300;
}

.icon-btn {
  margin: .5rem;
  cursor: pointer;
}
.fa-icon {
  transition: transform .3s ease-in-out;
}
