.my-input {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}
.my-input label {
  width: 10rem;
  text-align: right;
  color: #555;
  font-weight: 300;
}
.my-input input {
  margin-left: .5rem;
  border: 1px #000 solid;
  padding: .3rem;
  font-weight: 300;
  font-size: 1rem;
}

.my-form-btn-container {
    margin-left: calc(100% - 9rem);
}
.my-form-btn-container .my-btn {
    font-size: 1.3rem;
    width: 9rem;
    background-color: darkviolet;
    color: white;
    border: 1px black solid;
    border-radius: 5px;
    margin-top: 1rem;
}

.icon-btn {
  margin: .5rem;
}
.fa-icon {
  transition: transform .3s ease-in-out;
}
